<body>

    <body>
        <link rel="stylesheet" type="text/css" href="verificationCode.css" />
        <div class="container">
            <form action='/reset' name="code" method="post" class="form" id="code-nav">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="code">Enter verification code:</label>
                        <input type="text" name="verificationCode" class="form-control" id="inputcode" maxlength="45">

                    </div>

                </div>

                <div class="form-group ">
                    <button type="submit" id="submitbutton" class="btn btn-primary">Submit</button>
                </div>
                {{#if message.status}}
                <div class={{message.class}}>{{#if message.message}} {{message.message}} {{/if}}</div>
                {{/if}}

            </form>
        </div>


    </body>
