.table {
    margin-top: 50px;
    background-color: white;
    width: 750px;
    margin-left: 250px;
}

thead {
    background-color: black;
    color: white;
}

table td {

    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}
